.cart__error{
    width: 100vw;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  
}
.error{
  text-align: center;
  
}
.img__error{
    max-width: 900px;
}
.name__error{
    color: red;
}